version: "3.8"

services:
  # -----------------------------------------------------------
  # HOMELAB DASHBOARD
  # -----------------------------------------------------------
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    env_file: .env
    environment:
      <<: *common-env
      HOMEPAGE_ALLOWED_HOSTS: your_url:${HOMEPAGE_HOST_PORT}
    volumes:
      - ${DOCKER_CONFIG_BASE}/homepage/config:/app/config
      - ${DATA_STORAGE_BASE}/:/mnt/storage
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "${HOMEPAGE_HOST_PORT}:3000"
    restart: unless-stopped

  # -----------------------------------------------------------
  # UTILITY & FILE MANAGEMENT
  # -----------------------------------------------------------
  omni-tools:
    image: iib0011/omni-tools:latest
    container_name: omni-tools
    ports:
      - "8086:80"
    restart: unless-stopped

  filebrowser:
    image: filebrowser/filebrowser:s6
    container_name: filebrowser
    env_file: .env
    environment: *common-env
    volumes:
      - ${DATA_STORAGE_BASE}:/srv
      - ${DOCKER_CONFIG_BASE}/filebrowser/database:/database
      - ${DOCKER_CONFIG_BASE}/filebrowser/config:/config
    ports:
      - "${FILEBROWSER_HOST_PORT}:80"
    restart: unless-stopped

  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    env_file: .env
    environment: *common-env
    volumes:
      - ${DOCKER_CONFIG_BASE}/syncthing/config:/config
      - ${DATA_STORAGE_BASE}:/data1
    ports:
      - "${SYNCTHING_HOST_PORT}:8384"
      - "22000:22000/tcp"
      - "22000:22000/udp"
      - "21027:21027/udp"
    restart: unless-stopped

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    env_file: .env
    environment:
      <<: *common-env
      WEBUI_PORT: "8083"
    volumes:
      - ${DOCKER_CONFIG_BASE}/qbit:/config
      - ${DATA_STORAGE_BASE}/download:/downloads
    ports:
      - "${QBITTORRENT_HOST_PORT_WEBUI}:8083"
      - "${QBITTORRENT_HOST_PORT_TRANSFERS}:6881"
      - "${QBITTORRENT_HOST_PORT_TRANSFERS}:6881/udp"
    restart: unless-stopped
  
  # -----------------------------------------------------------
  # SMART HOME & NETWORK SERVICES
  # -----------------------------------------------------------
  homeassistant:
    image: lscr.io/linuxserver/homeassistant:latest
    container_name: homeassistant
    env_file: .env
    environment: *common-env
    volumes:
      - ${DOCKER_CONFIG_BASE}/hassio/config:/config
    network_mode: host
    restart: unless-stopped

  airconnect:
    image: 1activegeek/airconnect:latest
    container_name: airconnect
    network_mode: host
    restart: unless-stopped

  cups:
    image: chuckcharlie/cups-avahi-airprint:latest
    container_name: cups
    env_file: .env
    environment:
      CUPSADMIN: admin
      CUPSPASSWORD: admin
    volumes:
      - ${DOCKER_CONFIG_BASE}/cups/service:/services
      - ${DOCKER_CONFIG_BASE}/cups/config:/config
    network_mode: host
    restart: unless-stopped

  # -----------------------------------------------------------
  # WORKFLOW AUTOMATION
  # -----------------------------------------------------------
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    env_file: .env
    environment: *common-env
    volumes:
      - ${DOCKER_CONFIG_BASE}/n8n/config:/home/node/.n8n
    ports:
      - "${N8N_HOST_PORT}:5678"
    restart: unless-stopped

  # -----------------------------------------------------------
  # CONTAINER AUTO UPDATE
  # -----------------------------------------------------------
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    env_file: .env
    environment:
      TZ: ${TZ}
      WATCHTOWER_SCHEDULE: "0 0 4 * * *" # Run at 04:00 AM every day
      WATCHTOWER_CLEANUP: "true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
